// colors

// theme colors
$color-dark-red: #47201C;
$color-light-red: #E08E84;
$color-medium-red: #945149;
$color-dark-green: #15472D;
$color-medium-green: #48946C;

// helper colors
$color-white: #FFFFFF;
$color-highlight: #4F89C8;