doctype html
html
  head
    title CSS Animations
    include ../includes/head.pug
  body
    include ../includes/header.pug

    main.introduction
      block content

    include ../includes/footer.pug