main {
  flex: 1;
  margin: 3rem auto;
  min-width: 120rem;
  display: flex;

  &.introduction {
    flex-direction: column;
  }

  @media screen and (max-width: 1200px) {
    padding: 0 2rem;
    min-width: 100%;
  }
}